.header {
  &.mat-toolbar {
    background: transparent;
    font-size: 14px;
    line-height: 20px;
    background-color: #3a3a3a;
    color: #d4d4d4;
    box-shadow: inset 0px 0 1px 1px rgba(255, 255, 255, .05);
  }

  &.mat-toolbar-single-row,
  &-component {
    height: 54px;
    display: flex;
    align-items: stretch;
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 36px;
  }


  // .mat-button-toggle-appearance-standard {
  //   background-color: #fff;
  // }

  // .mat-button-toggle-checked {
  //   background-color: rgba(41, 148, 99, 0.15);
  // }
}
